*{
   margin: 0;
   padding: 0;
}
/*importações de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Roboto:wght@300&display=swap');

/*configuração de body*/
.bodyinicial
{
    background-image: url("../Imagens/pessoa\ cozinhando.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 50%;
    background-position-y: center;
    filter: saturate(115%);
     
    overflow-x: hidden;

   
}
.bodytemas
{
    overflow-x: hidden;
    background-image: url("../Imagens/educacaoalimetarinfantil.png");
    background-size: cover;
   

}

/*configuração de imagens*/
.imgprato
{
    width: 50%;
    height: 100%;
    background-image: url("../Imagens/imagem\ prato\ 3.jpeg");
    background-repeat: no-repeat;
    background-size:100%;
    position: relative;
 
    background-position-y: center;
    
}
#confimagem
{
    background-color: #DBA838;
	opacity: 0.1;
	width: 50vw;
	height: 100vh;
	margin-left: 50vw;
	position: absolute;
	z-index: 10;
}
.quadradoinicial
{
    width: 65%;
    height: 50%;
    background-color: white;
    position: relative;
    left:69%;
    top: 20%;
    opacity:65% ;
   
  
}
/*textos*/
.textodentroquadrado
{
    font-size: 35px;
    text-align: center;
    text-transform:uppercase ;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 33%;
    font-weight: bold ;
    opacity: 150%;
 
}

.faixa
{
    width: 100vw;
    height: 8%;
    background-color: #2E8B57;
    position: relative;
    top: 10%;
   display: block;
   overflow: hidden;
}

.titulotemas
{
    position: relative;
    top: 10%;
    left: 46%;
    text-transform: uppercase;
    color: white;
}




/*configurações dos posts*/
.posts
{
    width: 100vw;
 
    max-height:auto ;
    position:relative;
    top: 15%;
    left:0.5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 10px; /*espaçamento entra linhas e colunas */

   
   
   
}
.post
{
    max-width: 19rem;
    height: 15rem;
   
    overflow: hidden;
    border: 2px solid #DBA838;
    background-size: cover;
    background-position-x: 45%;
    
    

}




/*menus*/
.menu ul
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    list-style: none;
   
    z-index: 15;
  
}

.menu ul a
{
    padding: 100px;
    text-decoration: none;
    color:black;
    font-size: 45px;
    position: relative;
    left: 120%;
    font-weight: bold;
    
  
  
}
.menuoutros ul
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    list-style: none;
   
  
}

.menuoutros ul a
{
    padding: 100px;
    text-decoration: none;
    color:black;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    top: 30%;
    color:#2E8B57 ;
    
  
  
}


/*icones*/
#paginainicial
{
   width: 50%;
   position: relative;
   left: 50%;
}
#paginainicialoutros
{
   width: 20%;
   position: relative;
   left:50px;
   
 
}

/*rodape*/
.rodape
{
    position: relative;
    padding: 1%;
    top: 100%;
    width: 100vw;
    height: auto;
    right: 3%;
    background-color: #2E8B57;
}
.textorodape
{
    color: white;
    text-align: center;

}

/*sobre*/


/*dicas*/

/*videos*/
