*{
   margin: 0;
   padding: 0;
}
/*importações de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*configuração de body*/
.bodyinicial
{

    
     
    overflow-x: hidden;

   
}
.bodytemas
{
    overflow-x: hidden;
    
   

}

.introPI
{
    width: 100%;
    height: 100%;
    background-image: url("../Imagens/1.png");
     background-repeat: no-repeat;
     background-size: cover;
}

@keyframes  example
{
    from{ background-size: 10%;}
    to { width: 100%;height: 50%; position: relative; top:10% ;bottom:10%;}

}

.title 
{

    width:43% ;
    height: 20%;
    background-color:  #2E8B57;
    opacity: 90%;
    position: relative;
    top: 40%;
    color: white;
  
   
    
    

}
.classtitle
{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 40%;
    font-family:  'Roboto', sans-serif;
    
}




.faixa
{
    width: 100vw;
    height: 8%;
    background-color: #2E8B57;
    position: relative;
    top: 10%;
   display: block;
   overflow: hidden;
}

.titulotemas
{
    position: relative;
    top: 10%;
    left: 46%;
    text-transform: uppercase;
    color: white;
}




/*configurações dos posts*/
.posts
{
    width: 100vw;
 
    max-height:auto ;
    position:relative;
    top: 15%;
    left:0.5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 10px; /*espaçamento entra linhas e colunas */

   
   
   
}
.post
{
    max-width: 19rem;
    height: 15rem;
   
    overflow: hidden;
    border: 2px solid #DBA838;
    background-size: cover;
    background-position-x: 45%;
    
    

}




/*menus*/

#textmenu
{
    font-size: 30px;
    position: relative;
    top:10px ;
    left: 20%;
    color: #2E8B57;
}

#contornomenu
{
    cursor: pointer;
    width: 15%;
    height: 40%;
    position: relative;
    top: 35%;
    border: 2px solid #2E8B57;
    left: 10%;
   
}
#botaomenu
{
    font-size: 30px;
    color:tomato;
    position: relative;
    bottom: 30px;
    left: 50% ;
    display: block;
    
}

#botaomenux
{
    font-size: 30px;
    color:tomato;
    position: relative;
    left: 100px;
    bottom: 30px;
    display: none;
    
}

#menu
{
    width: 100%;
    height: 20%;
    background-color: white;
    border-bottom:2px solid  #2E8B57;
}
#menu ul
{
    width: 15.2%;
    height: 180%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    list-style: none;
    display: none;
    z-index: 15;
    top: 25%;
    left: 10%;
    background-color: #2E8B57;
    text-align: center;
    opacity: 90%;
    

  
}

#menus a:hover
{
    background-color:#FF4500 ;
}

#menu ul a
{
    color: white;
    display:block;
    margin-top: 15px;
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 35px;
    
 
    
   
    
    
  
  
}
.menuoutros ul
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    list-style: none;
   
  
}

.menuoutros ul a
{
    padding: 100px;
    text-decoration: none;
    color:black;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    top: 30%;
    color:#2E8B57 ;
    
  
  
}


/*icones*/
#paginainicial
{
   width: 50%;
   position: relative;
   left: 50%;
}
#paginainicialoutros
{
   width: 20%;
   position: relative;
   left: 50px;
 
}

/*rodape*/
.rodape
{
    position: relative;
    padding: 1%;
    top: 100%;
    width: 100vw;
    height: auto;
    right: 3%;
    background-color: #2E8B57;
}
.textorodape
{
    color: white;
    text-align: center;

}

/*sobre*/


/*dicas*/

/*videos*/
